@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    max-width: 800px;
    margin: 64px auto;
    font-family: 'EB Garamond', serif;
}
.randy {
    padding-left: 54px;
}
.arcane {
    padding-left: 32px;
}
